#all {
	width: 100%;
	position: relative;
}

.subdiv_layout_header {
	widthï¼š100%;
	position: relative;
	padding-left: 10px;
	color: #183152;
	font-weight: bold;
	height: 20px;
	line-height: 19px;
	overflow: hidden;
	background: #E5EFFE ;
	border-bottom: 1px solid #DDDDDD;
}

.subdiv_titleicon {
	position:absolute;
	width:16px;
	height:16px;
	left:5px;
	top:2px;
}

.subdiv_titletext {
	padding-left: 14px;
}

.subdiv_layout_content {
	width: 100%;
	text-align:center;
}